---
// library imports
import { Icon } from "astro-icon";

interface Props {
  text: string;
  href: string;
  style: "primary" | "secondary";
  icon?: {
    name: string;
    side: "left" | "right";
  };
  isFilled?: boolean;
  borderVisible?: boolean;
  classes?: string;
}

const {
  text,
  href,
  style,
  icon,
  isFilled = true,
  borderVisible = false,
  classes,
  ...rest
} = Astro.props as Props;
---

<a
  href={href}
  class:list={[
    "link",
    classes,
    style,
    { filled: isFilled, bordered: borderVisible },
  ]}
  {...rest}
>
  {
    icon && icon.side === "left" && (
      <Icon name={icon.name} height="24" width="24" />
    )
  }

  <span>{text}</span>

  {
    icon && icon.side === "right" && (
      <Icon name={icon.name} height="24" width="24" />
    )
  }
</a>
