---
// component import
import MainHead from "./MainHead.astro";

const {
  title = "My Astro Blog",
  description = "My musings about the Astro framework",
} = Astro.props;
---

<html lang="en">
  <MainHead {title} {description} />
  <body>
    <slot> Default Text</slot>
  </body>
</html>
